body {
  background: #2a2d2f;
  color: #d4d0cb;
  font-family: Muli, sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
*,
body {
  margin: 0;
  padding: 0;
}

#mainOne {
  border-radius: 33px;
  background: #2a2d2f;
  box-shadow: rgb(83, 90, 94) 19px 19px 38px, rgb(24, 26, 27) -19px -19px 38px;
  width:500px;
  height:500px;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
}
.innerMainone{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card{
    border:0 !important;
}
.card-body{
    border:0 !important;
}
.form-control {
	color: rgb(209, 205, 199);
	background-color: rgb(24, 26, 27);
	border-color: rgb(60, 65, 68);
}