.tabMobile{
    height:100px;
    display:grid !important;
    place-items:center;
    color: #495864;
    background-color: #eaebed;
    
    
}
.slick-next{
   right:10px;
}
.slick-prev{
    z-index:1;
    left:10px;
}
.slick-prev:before,.slick-next:before  {
    color: #5d5d5a;
    background-color: #eaebed;
  }
  

.slick-list{
    margin:1rem 0px 0px 0px;
    border-radius:150px;
}