.blogCategories {
    background-color: #eaebed;
    display: flex;
    align-items: flex-end;
    height: 5rem;
    width: calc ( 100% - 25px);
    padding-left: 25px
}

.tab {
    height: 90%;
    width: 150px;
    display: grid;
    place-items: center;
    color: #707090
}

.active {
    background-color: #ffffff;
    color: #0e0e0e;
    border-radius: 25px 25px 0% 0%;
}