body {
  background: #e0e0e0;
  color: #001f3f;
  font-family: Muli, sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
*,
body {
  margin: 0;
  padding: 0;
}

#mainOne {
  border-radius: 33px;
  background: #e0e0e0;
  box-shadow: 19px 19px 38px #969696, -19px -19px 38px #ffffff;
  width:500px;
  height:500px;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
}
.innerMainone{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card{
    border:0 !important;
}
.card-body{
    border:0 !important;
}